/* ~~GENERAL~~ */

//----- Colors
$black: #252628;
$grey: #999999;
$grey-opacity: rgba(153,153,153,.5);
$white: #fcfcfc;

.black{color:$black};
.grey{color:$grey};
.white{color:$white};

//----- Font
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font: 'Roboto';

//----- Icons

//----- Body
body {
  margin: 0;
  background-color: $white;
}

ul, ol, li{
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
  margin: 0;
  padding: 0;
}

/* ~~NAVBAR~~ */

.navbar {
  width: 100%;
  height: 80px;
  border-bottom: rgba(153,153,153,.1) solid 2px;

  &__item {
    display: inline-block;
    height: 100%;
    width: 80px;
    text-align: center;
    line-height: 80px;
    margin-left: 10px;

    &__text {
      font-family: $font;
      color: $black;
      opacity: .9;
      margin: 0;
      padding: 0;
    }
  }
}

/* ~~CONTENT~~ */

.content {
  margin: 0 auto;
  width: 95%;
  height: auto;

  //----- Header part of the website - includes: title, searchbar, dropdown menu, tags
  &__header {
    margin-top: 120px;
    // height: auto;

    &__title {
      color: $black;
      font-family: $font;
      letter-spacing: 1px;
      font-size: 2em;
      font-weight: bolder;
      margin: 0;
      padding: 0;
      margin-bottom: 35px;
    }

    &__searchbar {
      & > form {
        display: inline-flex;
        & > input {
          outline: none;
          border: $grey solid 1px;
          border-radius: 3px;
          opacity: 0.5;
          font-size: 16px;
          color: $grey;
          background-color: $white;
          height: 40px;
          width: 400px;
          line-height: 40px;
          padding: 0px 35px 0px 10px;
        }
      }
    }

    &__dropdown {
      float: right;
      margin-right: 30px;
      & > span {
        font-family: $font;
        font-size: 15px;
        color: $black;
        opacity: .8;
      }
      & > form {
        display: inline-flex;

        & > select {
          font-family: $font;
          outline: none;
          border: $grey solid 1px;
          border-radius: 3px;
          opacity: 0.8;
          color: $black;
          background-color: $white;
          height: 40px;
          width: 200px;
          padding: 0px 35px 0px 10px;

          & > option {

          }
        }
      }
    }
  }

  //----- Body part of the website - includes: cards with all the clubs
  &__body {
    margin-top: 100px;

    &__card {
      display: block;
      font-family: $font;
      font-size: 1.1em;
      margin-top: 20px;
      padding-left: 5px;
      margin-bottom: 20px;
      border-top: $grey-opacity solid 1px;
      border-bottom: $grey-opacity solid 1px;
      width: 95%;
      height: 50px;
      line-height: 50px;

      &:hover{
        background-color: rgba(153,153,153,.1);
        color: #72a8ff;
        text-decoration: underline;
      }
    }
  }


}

/* ~~GRID~~ */
$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: percentage($i / $grid-columns);
  }
}

//----- Styles
[class^='grid-'] {
  float: left;

}
