<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
    <title>Lifely code challenge</title>
    <link rel="stylesheet" href="/compiled_scss/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="navbar">
      <a href="#">
        <div class="navbar__item">
          <p class="navbar__item__text">Info</p>
        </div>
      </a>
      <a href="#">
        <div class="navbar__item">
          <p class="navbar__item__text">Teams</p>
        </div>
      </a>
      <a href="#">
        <div class="navbar__item">
          <p class="navbar__item__text">Radar</p>
        </div>
      </a>
      <a href="#">
        <div class="navbar__item">
          <p class="navbar__item__text">Alerts</p>
        </div>
      </a>
      <a href="#">
        <div class="navbar__item">
          <p class="navbar__item__text">Clubs</p>
        </div>
      </a>
    </div>
    {{{body}}}
  </body>
</html>
