/* ~~GENERAL~~ */
@import url("https://fonts.googleapis.com/css?family=Roboto");
.black {
  color: #252628; }

.grey {
  color: #999999; }

.white {
  color: #fcfcfc; }

body {
  margin: 0;
  background-color: #fcfcfc; }

ul, ol, li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #252628;
  margin: 0;
  padding: 0; }

/* ~~NAVBAR~~ */
.navbar {
  width: 100%;
  height: 80px;
  border-bottom: rgba(153, 153, 153, 0.1) solid 2px; }
  .navbar__item {
    display: inline-block;
    height: 100%;
    width: 80px;
    text-align: center;
    line-height: 80px;
    margin-left: 10px; }
    .navbar__item__text {
      font-family: "Roboto";
      color: #252628;
      opacity: .9;
      margin: 0;
      padding: 0; }

/* ~~CONTENT~~ */
.content {
  margin: 0 auto;
  width: 95%;
  height: auto; }
  .content__header {
    margin-top: 120px; }
    .content__header__title {
      color: #252628;
      font-family: "Roboto";
      letter-spacing: 1px;
      font-size: 2em;
      font-weight: bolder;
      margin: 0;
      padding: 0;
      margin-bottom: 35px; }
    .content__header__searchbar > form {
      display: inline-flex; }
      .content__header__searchbar > form > input {
        outline: none;
        border: #999999 solid 1px;
        border-radius: 3px;
        opacity: 0.5;
        font-size: 16px;
        color: #999999;
        background-color: #fcfcfc;
        height: 40px;
        width: 400px;
        line-height: 40px;
        padding: 0px 35px 0px 10px; }
    .content__header__dropdown {
      float: right;
      margin-right: 30px; }
      .content__header__dropdown > span {
        font-family: "Roboto";
        font-size: 15px;
        color: #252628;
        opacity: .8; }
      .content__header__dropdown > form {
        display: inline-flex; }
        .content__header__dropdown > form > select {
          font-family: "Roboto";
          outline: none;
          border: #999999 solid 1px;
          border-radius: 3px;
          opacity: 0.8;
          color: #252628;
          background-color: #fcfcfc;
          height: 40px;
          width: 200px;
          padding: 0px 35px 0px 10px; }
  .content__body {
    margin-top: 100px; }
    .content__body__card {
      display: block;
      font-family: "Roboto";
      font-size: 1.1em;
      margin-top: 20px;
      padding-left: 5px;
      margin-bottom: 20px;
      border-top: rgba(153, 153, 153, 0.5) solid 1px;
      border-bottom: rgba(153, 153, 153, 0.5) solid 1px;
      width: 95%;
      height: 50px;
      line-height: 50px; }
      .content__body__card:hover {
        background-color: rgba(153, 153, 153, 0.1);
        color: #72a8ff;
        text-decoration: underline; }

/* ~~GRID~~ */
.grid-1 {
  width: 8.33333%; }

.grid-2 {
  width: 16.66667%; }

.grid-3 {
  width: 25%; }

.grid-4 {
  width: 33.33333%; }

.grid-5 {
  width: 41.66667%; }

.grid-6 {
  width: 50%; }

.grid-7 {
  width: 58.33333%; }

.grid-8 {
  width: 66.66667%; }

.grid-9 {
  width: 75%; }

.grid-10 {
  width: 83.33333%; }

.grid-11 {
  width: 91.66667%; }

.grid-12 {
  width: 100%; }

[class^='grid-'] {
  float: left; }
