
    <div class="content">
      <div class="content__header">
        <h1 class="content__header__title">European clubs</h1>
        <div class="row">
          <div class="grid-6">
            <div class="content__header__searchbar">
              <form action="/" method="get">
                <input type="text" name="query" style="font-family: FontAwesome, Arial; font-style: normal" placeholder="&#xF002;     Search">
              </form>
            </div>
          </div>
          <div class="grid-6">
            <div class="content__header__dropdown">
              <span>Country: </span>
              <form action="/" method="get">
                <select class="" name="country" onchange="if(this.value != 0) { this.form.submit(); }">
                  <option name="all" value="all">Everything</option>
                  <option name="netherlands" value="netherlands">Netherlands</option>
                  <option name="england" value="england">England</option>
                  <option name="spain" value="spain">Spain</option>
                  <option name="germany" value="germany">Germany</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="content__header__pins">
          <div class="row">

          </div>
        </div>
      </div>
      <div class="content__body">
        {{#if searchResult}}
          <div class="grid-4">
            <a href="#">
              <div class="content__body__card">
                {{searchResult.name}}
              </div>
            </a>
          </div>
        {{/if}}


        {{#each data}}
          <div class="grid-4">
            <a href="#">
              <div class="content__body__card">
                {{name}}
              </div>
            </a>
          </div>
        {{/each}}

      </div>
    </div>
